.myProfile {
    margin: 0em;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    font-family: 'Playfair Display', serif;
    min-height: 70vh;
    display: flex;
    justify-items: center;
    align-items: center;
}
