.reviewsBox {
    display: flex;
    flex-direction: column;
}

#reviewCardBox {
    display: flex;
    flex-direction: row;
}

.reviewCardImg {
    height: 20em;
}

.reviewCardData {
    display: flex;
    flex-direction: column;
}

#scoreBox {
    display: flex;
    flex-direction: column;
    
}

.buttonsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}