.gradient-custom {
    background: #093028;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin buttonPneumorphism () {
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1em;
    padding: 0.5em 1em;
    border: 0.1em solid rgb(33, 123, 120);
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 0.5em 0.5em 1em rgb(69, 141, 135), -0.5em -0.5em 1em rgba(85, 192, 188, 0.559);
}

.mainReviewCard {
    height: auto;
    width: 95%;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    box-shadow: 0em 0em 0.4em 0.05em rgb(255, 255, 255);
}

.reviewCardImg {
    border: 0.01em solid white;
    border-radius: 0.4em;
    box-shadow: 0em 0em 0.3em 0.2em rgba(0, 0, 0, 0.653);
    max-height: 18em;
    min-height: 18em;
}

.reviewColData {

    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.bookTitleReview {
    color: black;
    font-weight: bold;
}

.reviewCardBtn {
    @include buttonPneumorphism()
}

.reviewCardBtn:hover{
    box-shadow: 0em 0em 0.3em 0.1em black;
    transition: all 1s ease;
}

.reviewCardBtn:focus{
    box-shadow: 0em 0em 0.3em 0.1em black;
    transition: all 1s ease;
}