.mainBox {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
	color: white;
}

.mainRegisterBox {
	max-width: 50em;
	width: 90%;
	margin: auto;
	padding: 2.5em;
}

.registerForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.25em;
}

.registerLabel {
	display: block;
	font-weight: 700;
	padding: 0.6em;
	min-height: 2.5em;
	cursor: pointer;
}

.registerInput {
	width: 100%;
	background: #fff;
	border-radius: 0.2em;
	height: 2.80em;
	line-height: 2.80em;
	padding: 0 2.5em 0 0.6em;
	transition: .3s ease all;
	border: 0.2em solid transparent;
}

.registerInput:focus {
	border: 0.2em solid #0075FF;
	outline: none;
	box-shadow: 0.2em 0em 1.9em 0.3em rgba(163, 163, 163, 0.4);
}

.boxButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: span 2;
}

.sendButtom {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.8em;
	line-height: 2.8em;
	width: 30%;
	background: #fff;
	color: rgb(0, 0, 0);
	font-weight: bold;
	border: none;
	border-radius: 0.2em;
	cursor: pointer;
	transition: .1s ease all;
}

.sendButtom:hover {
	box-shadow: 0.2em 0em 1.9em 0.3em rgba(218, 218, 218, 0.274);
}

.registerMessage {
	font-weight: bold;
}