.homeMainBox {
    height: 74vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContentBox {
    height: 68vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.homeFooterBox {
    height: 6vh;
    width: 100%;
    background-color: lightseagreen;
}