.homeMainBox {
    height: 61.8vh;
    width: 100%;
    background-image: url(../../../public/Img/vector3paisaje.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContentBox {
    height: 100%;
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeImg{
    height: 100%;
    width: 100%;
}