.homeMainBox {
    height: 85em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: linear-gradient(to right, #0f0c29, #381515, #0f0c29);
}

.borderHomeDiv {
    height: 80em;
    width: 97%;
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: double 0.5em #fff;
    border-radius: 0.2em;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.homeTextDiv {
    padding: 0.2em;
    width: 80%;
    display: flex;
    align-items: center;
    background: #feffed;
    margin-top: 1em;
    border: ridge 0.4em rgb(38, 26, 116);
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.2em 0.1em black;
    cursor: pointer;
}

.homeTextP {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

.pHeader {
    font-size: 160%;
}

.pBody {
    font-size: 110%;
}

.homeImages {
    height: 30em;
    width: 96%;
    display: flex;
    border: 0.01em solid white;
    box-shadow: 0em 0em 0.2em 0.1em black;

    @media screen and (max-width: 1150px) {
        display: none;
    }
}

.homeImages img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 1s ease;
}

.homeImages img:hover {
    cursor: pointer;
    width: 6%;
    opacity: 1;
    filter: contrast(120%);
}

.homeImages2 {
    height: 30em;
    width: 93%;
    display: flex;
    margin-top: 2em;
    border: 0.01em solid white;
    border-radius: 0.1em;
    box-shadow: 0em 0em 0.3em 0.2em black;

    @media screen and (max-width: 750px) {
        display: none;
    }

    @media screen and (min-width: 1150px) {
        display: none;
    }
}

.homeImages2 img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 1s ease;
}

.homeImages2 img:hover {
    cursor: pointer;
    width: 23%;
    opacity: 1;
    filter: contrast(120%);
}

.homeImages3 {
    height: 30em;
    width: 93%;
    display: flex;
    margin-top: 2em;
    border: 0.01em solid white;
    border-radius: 0.1em;
    box-shadow: 0em 0em 0.3em 0.2em black;

    @media screen and (min-width: 0px) {
        display: none;
    }

    @media screen and (max-width: 750px) {
        display: flex;
    }
}

.homeImages3 img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 1s ease;
}

.homeImages3 img:hover {
    cursor: pointer;
    width: 25%;
    opacity: 1;
    filter: contrast(120%);
}

.flipCardDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1700px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991.98px) {

    .pHeader{
        font-size: 140%;
    }

    .pBody{
        font-size: 90%;
    }
}

@media screen and (max-width: 767.98px) {

    .pHeader{
        font-size: 120%;
    }

    .pBody{
        font-size: 75%;
    }
    .homeImages3{
        height: 25em;
    }
}

@media screen and (max-width: 390px) {
    .pHeader{
        font-size: 90%;
    }

    .pBody{
        font-size: 65%;
    }

    .homeImages3{
        height: 20em;
    }
}