.aboutCard {
    cursor: pointer;
}

.aboutCardBody {
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.aboutCardContainer {
    height: fit-content;
    transform-style: preserve-3d;
    position: relative;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 0.4em 0.1em rgb(4, 4, 4);
    border: 0.1em solid black;
    border-radius: 0.4em;
    margin-bottom: 0.5em;
}

.frontCard,
.backCard {
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.4em;
}

.backCard {
    transform: rotateY(180deg);
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 500ms;
}

.flip-exit-done {
    transform: rotateY(180deg);
}

.flip-enter {
    transform: rotateY(180deg);
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 500ms;
    transition-timing-function: cubic-bezier(.57, .21, .69, 1.25);
}

.flip-enter-done {
    transform: rotateY(0deg);
}