@mixin buttonPneumorphism () {
    background-color: transparent;
    font-weight: bold;
    color: rgb(97, 96, 96);
    font-size: 1em;
    padding: 0.5em 1em;
    border: 0.1em solid white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 0.5em 0.5em 1em #FFFFFF, -0.5em -0.5em 1em #aaaaaa;
}

.mainBookCard {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    box-shadow: 0 0 0.2em 0.1em rgb(155, 155, 155);
    cursor: pointer;
}

.bookColData {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookCardImg {
    width: 95%;
    border: 0.1em solid black;
    border-radius: 0.3em;
    box-shadow: 0 0 0.2em 0.1em black;
}

.icons {
    width: 3em;
}

.bookCardBtn {
    @include buttonPneumorphism();
    color: black;
}

.bookCardBtn:hover {
    box-shadow: 0.5em 0.5em 1em #aaaaaa, -0.5em -0.5em 1em #FFFFFF;
    transition: all 1s ease;
}

.bookCardBtn:active {
    box-shadow: inset 0.2em 0.2em 1em #aaaaaa, inset -0.2em -0.2em 1em #FFFFFF;
    transition: all 1s ease;
}

.iconEditCol {
    display: flex;
    justify-content: flex-start;
}

.iconDelCol {
    display: flex;
    justify-content: flex-end;
}

.editIcon {
    border-radius: 0.3em;
    height: 2em;
    width: 2em;
}

.deleteIcon {
    border-radius: 0.3em;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookModalBox {
    border: 0.05em solid black;
    border-radius: 0.3em;
    background: linear-gradient(#e65c00, #F9D423);
    box-shadow: 0em 0em 0.3em 0.2em rgba(255, 255, 255, 0.617);
}

.modalBookBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalButton {
    box-shadow: 0em 0em 0.2em 0.1em rgba(0, 0, 0, 0.533);
}

.modalBookFooter {
    display: flex;
    align-items: center;
    justify-content: space-around !important;
}

.bookBtnDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookCardAdminBtn {
    @include buttonPneumorphism();
    box-shadow: 0.5em 0.5em 1em #aaaaaa, -0.5em -0.5em 1em #FFFFFF;
}

.bookCardAdminBtn:hover {
    border: 0.1em solid #905260;
    box-shadow: 0.5em 0.5em 1em #fff, -0.5em -0.5em 1em #aaaaaa;
    scale: 1.1;
    transition: all 1s ease;
}

.bookCardAdminBtn:active {
    border: 0.1em solid #905260;
    box-shadow: inset 0.2em 0.2em 1em #FFFFFF, inset -0.2em -0.2em 1em #aaaaaa;
    transition: all 1s ease;
}

.synopsisText{
    height: 8em;
}
@media screen and (max-width: 1200px) {

    .mainBookCard {
        width: 80%;
    }
}

@media screen and (max-width: 991.98px) {

    .bookCardBody {
        font-size: smaller;
    }

    .icons {
        width: 2em;
    }
}

@media screen and (max-width: 767.98px) {

    .mainBookCard {
        width: 95%;
    }

    .bookCardImg {
        height: 80%;
        width: 80%;
    }

    .bookCardBody {
        font-size: small;
    }
}