.card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p{
    padding-top: 1em;
    line-height: 150%;
    text-overflow: ellipsis;
}

.cardImg{
    height: 25em;
    width: 15em;
}

.expand{
    width: 15em;
}