@mixin buttonPneumorphism () {
    background-color: transparent;
    font-weight: bold;
    color: rgb(97, 96, 96);
    font-size: 1em;
    padding: 0.5em 1em;
    border: 0.1em solid #eee;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 0.5em 0.5em 1em #ccc, -0.5em -0.5em 1em #fff;
}

.cardContainer {
    height: fit-content;
    transform-style: preserve-3d;
    position: relative;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 0.4em 0.1em rgb(4, 4, 4);
    border: 0.1em solid black;
    border-radius: 0.4em;
    margin-bottom: 0.5em;
}

.frontCard,
.backCard {
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.4em;
}

.backCard {
    transform: rotateY(180deg);

    @media screen and (max-width: 350px) {
        height: fit-content;
    }
}

.bookCardBody {
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 100%;
    border-radius: 0.4em;
    border: 0.05em solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-shadow: 0em 0em 0.5em #fff;
}

.cardSynopsis {
    font-size: x-small;
}

.butonCoolEffect {
    @include buttonPneumorphism()
}

.butonCoolEffect:hover {
    box-shadow: 0em 0em 0.3em 0.1em black;
}

.butonCoolEffect:focus {
    box-shadow: 0em 0em 0.3em 0.1em black;
}

.bookCardBtn {
    border: 0.1em solid black;
    border-radius: 0.3em;
    box-shadow: 0em 0em 0.3em 0.01em black;
}

.bookCardBtn:hover {
    border: 0.1em solid white;
    box-shadow: 0em 0em 0.3em 0.1em rgb(88, 6, 6);
    transition: all 1s ease;
}

.editIcon {
    border-radius: 0.3em;
    height: 2em;
    width: 2em;
}

.deleteIcon {
    border-radius: 0.3em;
    height: 2em;
    width: 2em;
}

.linkIcons:hover {
    border-radius: 0.3em;
    gap: 2em;
    height: 1.5em;
    width: 1.5em;
    transition: all 1s ease;
    box-shadow: 0em 0em 0.3em 0.05em rgb(127, 127, 127);
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 500ms;
}

.flip-exit-done {
    transform: rotateY(180deg);
}

.flip-enter {
    transform: rotateY(180deg);
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 500ms;
    transition-timing-function: cubic-bezier(.57, .21, .69, 1.25);
}

.flip-enter-done {
    transform: rotateY(0deg);
}

.linksBookCardRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteModalBox {
    border: 0.05em solid black;
    border-radius: 0.3em;
    background: linear-gradient(#e65c00, #F9D423);
    box-shadow: 0em 0em 0.3em 0.2em rgba(255, 255, 255, 0.617);
}

.deleteModalBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteModalFooter {
    display: flex;
    align-items: center;
    justify-content: space-around !important;
}

.deleteModalButton {
    box-shadow: 0em 0em 0.2em 0.1em rgba(0, 0, 0, 0.533);
}