.gradient-custom {
    /* fallback for old browsers */
    background: #f6a465;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(246, 164, 101), rgb(116, 32, 9))
}

.cardContainer {
    transform-style: preserve-3d;
    position: relative;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 0.4em 0.1em rgba(255, 255, 255, 0.537);
    border-radius: 0.4em;
    margin-bottom: 0.5em;
}

.frontCard,
.backCard {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.4em;
}

.backCard {
    transform: rotateY(180deg);
    background-color: #fff;
}

.bookCardBody {
    height: 100%;
    border-radius: 0.4em;
    border: 0.05em solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white !important;
    text-shadow: 0em 0em 0.5em #fff;
    background: linear-gradient(#200122, #450101);

}

.cardSynopsis {
    font-size: x-small;
}

.bookCardBtn {
    border-radius: 0.3em;
    box-shadow: 0em 0em 0.3em 0.1em rgba(255, 255, 255, 0.516);
}

.bookCardBtn:hover {
    color: black !important;
    box-shadow: 0em 0em 0.3em 0.1em rgba(0, 0, 0, 0.576);
}

.iconEditCol{
    display: flex;
    justify-content: flex-start;
}

.iconDelCol{
    display: flex;
    justify-content: flex-end;
}

.editIcon{
    border-radius: 0.3em;
    height: 2em;
    width: 2em;
}

.deleteIcon{
    border-radius: 0.3em;
    height: 2em;
    width: 2em;
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 400ms;
}

.flip-exit-done {
    transform: rotateY(180deg);
}

.flip-enter {
    transform: rotateY(180deg);
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 400ms;
    transition-timing-function: cubic-bezier(.57, .21, .69, 1.25);
}

.flip-enter-done {
    transform: rotateY(0deg);
}

.linksBookCardRow {
    display: flex;
    align-items: center;
    justify-content: center;
}