.aboutCardContainer {
    margin-top: 2em;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.aboutCard {
    width: 80%;
    cursor: pointer;
    box-shadow: 0em 0em 0.3em 0.1em rgb(164, 163, 163);

}

.aboutCardBody {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.abouIconsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 2em;
}

.iconImage {
    height: 4em;
    width: 4em;
    background-color: #fff;
    box-shadow: 0em 0em 0.4em 0.1em rgba(0, 0, 0, 0.604);
    border: 0.02em solid black;
    border-radius: 0.3em;
    padding: 0.2em;

    @media screen and (max-width: 768px) {
        height: 2.5em;
        width: 2.5em;
    }
}

.iconImage:hover {
    padding: 0em;
    box-shadow: 0em 0em 0.2em 0.1em rgba(0, 0, 0, 0.604);
    border: 0.02em solid white;
    transition: all 1s ease;
}

.iconImage:focus {
    padding: 0em;
    box-shadow: 0em 0em 0.2em 0.04em rgb(250, 250, 250);
    transition: all 1s ease;
}