.navBarBox {
    width: 100%;
    height: auto;
    border: 0.01em solid rgba(0, 0, 0, 0.466);
    box-shadow: 0 0 0.2em 0.01em white;
}

.interiorNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navBarLink2 {
    color: white !important;
}

.navBarLink2:hover {
    color: rgb(52, 130, 135) !important;
}

.collapsed{
    background-color: white !important;
}

.navBarImg {
    height: 2em;
    width: 2em;
    border: 0.1em solid white;
    box-shadow: 0 0 0.3em 0.2em black;
    border-radius: 10em;
}