.navBarBox {
    width: 100%;
    height: auto;
    border: 0.01em solid rgba(0, 0, 0, 0.466);
    box-shadow: 0 0 0.2em 0.01em white;
}

.interiorNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.interiorNav hr {
    border-left: 0.1em solid white;
}

.navBarImg {
    height: 2em;
    width: 2em;
    border: 0.1em solid white;
    box-shadow: 0 0 0.3em 0.2em black;
    border-radius: 10em;
}

.collapseDiv {
    width: 60%;
    padding: 0.3em;
    border-radius: 0.3em;
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    box-shadow: 0em 0em 0.2em 0.1em rgba(255, 255, 255, 0.574);
    cursor: pointer;

    @media screen and (min-width: 992px) {
        display: none;
    }
}

.collapseText {
    font-size: large;
    font-weight: bold;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}