@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #0f0c29, #381515, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}