.gradient-custom {
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
    /* fallback for old browsers */
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainBox {
    width: 100%;
    margin-bottom: 4em;
}

.cardContainer {
    color: black;
}

.cardProfile {
    box-shadow: 0em 0em 0.01em 0.3em rgb(255, 255, 255);
}

.profileImg {
    height: 10em;
    width: 13em !important;
    border-radius: 0.4em;
    box-shadow: 0em 0em 0.3em 0.1em rgb(1, 1, 1);
}

.infoProfileBox {
    border-radius: 0 0.4em 0.4em 0;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.dataHead {
    font-size: x-large;
    font-weight: 900;
}

.socialIconsBox {
    height: 3em;
    width: 33%;
}

.socialIcon {
    height: 4em;
    width: 1.5em;
}