.gradient-custom {
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
    /* fallback for old browsers */
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin buttonPneumorphism() {
    background-color: transparent;
    font-weight: bold;
    color: rgb(97, 96, 96);
    font-size: 1em;
    padding: 0.5em 1em;
    border: 0.1em solid #eee;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 0.5em 0.5em 1em #ccc, -0.5em -0.5em 1em #fff;
}

.mainBox {
    width: 100%;
    height: 100%;
}

.cardContainer {
    display: flex;
    justify-content: center;
    color: black;
}

.cardProfile {
    width: 70%;
    box-shadow: 0em 0em 0.1em 0.05em rgba(255, 255, 255, 0.547);
}

.profileImg {
    height: 8em;
    width: 11em !important;
    border-radius: 0.4em;
    box-shadow: 0em 0em 0.3em 0.1em rgb(1, 1, 1);
}

.infoProfileBox {
    border-radius: 0 0.4em 0.4em 0;
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.dataHead {
    font-size: x-large;
    font-weight: 900;
}

.socialIconsBox {
    height: 3em;
    width: 33%;
}

.socialIcon {
    padding: 0.2em;
    height: 2em;
    width: 2em;
    border: 0.1em solid black;
    border-radius: 0.4em;
    background-color: #fff;
    box-shadow: 0em 0em 0.2em 0.05em rgba(1, 1, 1, 0.335);
}

.socialIcon:hover {
    border: 0.1em solid white;
    box-shadow: 0em 0em 0.2em 0.05em rgba(1, 1, 1, 0.335);
    transition: all 1s ease;
}

.myProfileBtn {
    @include buttonPneumorphism();
    margin-bottom: 1.5em;  
}

.myProfileBtn:hover {
    box-shadow: 0em 0em 0.3em 0.1em black;
    transition: all 0.5s ease;
}

.myProfileBtn:focus {
    box-shadow: 0em 0em 0.3em 0.1em black;
    transition: all 0.5s ease;
}
