.bookMainBox {
    height: auto;
    width: 100%;
    min-height: 70vh;
	background: #e5e5e5;
    box-sizing: border-box;
}

.bookContentBox {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
}

.searchBar {
    margin-top: 0.3em;
    width: 100%;
}
