.mainBookContainer {
    height: 100%;
    min-height: 62vh;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
        min-height: 93vh;
    }
}

.blankBox {
    height: 2em;
    width: 100%;
}

.bookCardsRowContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.colCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booksRow {
    display: flex;
    justify-content: center;
}

.searchBarCol {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchBar {
    width: 100%;
    border-radius: 0.4em;
    box-shadow: 0 0 0.4em 0.1em rgba(255, 255, 255, 0.483);
}

.textSearchBar {
    color: rgb(173, 173, 173);
    font-size: large;

    @media screen and (max-width: 768px) {
        font-size: small;
    }
}

.bookSpinner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loadingText {
    color: white;
    font-size: xx-large;
    cursor: progress;

    @media screen and (max-width: 576px) {
        font-size: small;
    }
    @media screen and (max-width: 768px) {
        font-size: large;
    }
    @media screen and (max-width: 992px) {
        font-size: large;
    }
    @media screen and (max-width: 1200px) {
        font-size: x-large;
    }
}