.bookMainBox {
    height: 74vh;
    width: 100%;
    background-color: rgb(52, 53, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;

}

.bookContentBox {
    height: 100%;
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: row;
}

.bookFooterBox {
    height: 6vh;
    width: 100%;
    background-color: lightseagreen;
}

.searchBar{
    width: 30em;
}

.searchButton{
    width: 10em;
}