.mainBookContainer {
    height: 100%;
    min-height: 66vh;
    margin: 0;
    padding: 0;
}

.blankBox {
    height: 2em;
    width: 100vw;
}

.spinnerContainer {
    width: 100vw;
    margin-bottom: 1em;
}

.bookSearchBarContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.searchBarCol {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchBar {
    width: 100%;
    border-radius: 0.4em;
    box-shadow: 0 0 0.4em 0.1em rgba(255, 255, 255, 0.483);
}

.textSearchBar {
    color: rgb(173, 173, 173);
    font-size: large;
}

.bookSpinner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loadingText {
    color: white;
    font-size: xx-large;
    cursor: progress;
}

.booksContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1400px) {}


@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 767.98px) {

    .loadingText {
        font-size: small;
    }

    .textSearchBar {
        font-size: small;
    }

    .mainBookContainer {
        min-height: 95vh;
    }
}